*:focus {
    outline: none;
}

.opening__max {
    animation: opening__max 2s ease;
}

@keyframes opening__max {
    0% {margin-top: -55px;}
    25% {margin-top: -40px;}
    50% {margin-top: -55px;}
    75% {margin-top: -40px;}
    100% {margin-top: -40px;}
}

.opening__min {
    animation: opening__min 1s ease;
}

@keyframes opening__min {
    0% {margin-top: -10px;}
    25% {margin-top: 0px;}
    50% {margin-top: -10px;}
    75% {margin-top: 0px;}
    100% {margin-top: -10px;}
}